.all-item-ordertracking-page{
    width: 100%;
    display: grid;
    background-color: rgb(255, 255, 255);
    
    
}
.menu_order_tracking {
    width: 70%;
    display: flex;               /* Use flexbox layout */
    justify-content: space-between; /* Distribute space between items */
    flex-wrap: wrap; 
    margin-left: 10%;   
    margin-bottom: 5%;        /* Allow items to wrap to the next line if needed */
}

.menu_order_tracking h3 {
    flex: 1;                    /* Each header takes equal space */
    text-align: center;        /* Center the text */
    margin: 10px 0;   
    cursor: pointer;        /* Add some margin for spacing */
}

.allItemtrackingpageProduct{
    margin-left: 10%;
    width: 70%;
    
}

.allPriceAndInformationOfOrderTracking{
    width: 70%;
    margin-left: 13%;
    box-shadow:  0px 4px 8px rgba(0, 0, 0, 0.2);
    height: 200px;
    margin-top: 2%;
}.dateToTransport {
    display: flex;
    padding-left: 3%;
}
.sumPriceOfallPriceAndInformationOfOrderTracking{
   /* Hoặc fixed nếu bạn muốn phần tử luôn ở đó khi cuộn */
    padding-top: 2%;
    padding-left: 68%;
}

.timeToTransport{
    margin-right: 37%;
}

.buttonToRefuseOrContact{
    display: flex;
    width: 50%;
}
.buttonToRefuseOrContact button{
    margin-right: 10%;
    height: 50px;
    font-weight: 700;

}