.subjectShoppingCart{
    display: flex;
    width: 100%;
    justify-content: center;

}

.allObjectOfShoppingCart{
    display: flex;
    margin-top: 5%;
}

.mainLeftShoppingCart{
    
    margin-left: 15%;
    width: 50%;
    height: 100px;
    border-bottom: 1px solid rgb(221, 216, 216);
    margin-right: 15%;
}

.objectOfShoppingCart{
    display: flex;
    margin-bottom: 40px;
}

.prdOfObjectOfShoppingCart{
    margin-right: 70%;
}

.numberOfObjectOfShoppingCart{
    margin-right: 10%;
}